<% if message.hours == 0 %>
  <p><%= "#{message.user.username}: #{message.content}" %></p>
<% else %>
  <p><%= "#{message.user.username}さんが#{message.hours_proc_hour}時間#{message.hours_proc_minute}分の勉強を完了しました。"%></p>
<% end %>